body {
  background: #37353E;
  font-family: sans-serif;
}

html,
body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  overflow-x: hidden;
}

html, body, #app {
  height: 100%;
  margin: 0;
}

.button1 {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: none;
}

.button2 {
  cursor: pointer;
  border-radius: 8px;
  border: none;
}